.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  background-color: rgba(255, 255, 255, .20);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, .70);
  width: 80%;
  max-width: 900px;
  margin: 0 auto 20px;
  padding: 20px;
}

small {
  display: block;
  margin-left: 22px;
  font-size: 16px;
  margin-top: 7px;
  color: rgb(187, 187, 187);
}

.gist-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: left;
}

.star {
  border: none;
  background-color: transparent;
  color: gold;
  font-size: 22px;
}
